body {
				font-family: 'Lato';
				background-color: #f0f0f0;
				margin: 0px auto;
				max-width: 1150px;
			}


			/*content = container + progress bar + emotion container*/

			#content {
				margin-top : 0px;
				margin-left : auto;
				margin-right : auto;
				max-width: 400px; /*this needs to change if video scaled down*/
			}

			/*container = video + canvas*/

			#container {
				position : relative;
				/*width : 400px;*/ /*this needs to change if video scaled down*/
				/*margin : 0px auto;*/
			}

			/*webcam video*/

			#videoel {
				-o-transform : scaleX(-1);
				-webkit-transform : scaleX(-1);
				transform : scaleX(-1);
				-ms-filter : fliph; /*IE*/
				filter : fliph; /*IE*/

				width : 400px;
				height : 300px;
			}

			/*canvas - overlay*/

			#overlay {
				position: absolute;
				top: 0px;
				left: 0px;
				-o-transform : scaleX(-1);
				-webkit-transform : scaleX(-1);
				transform : scaleX(-1);
				-ms-filter : fliph; /*IE*/
				filter : fliph; /*IE*/

				width : 400px;
				height : 300px;
			}

			#videochop {
				-o-transform : scaleX(-1);
				-webkit-transform : scaleX(-1);
				transform : scaleX(-1);
				-ms-filter : fliph; /*IE*/
				filter : fliph; /*IE*/

				width : 200px;
				height : 200px;
			}

			#emotion_chart, #emotion_icons {
				margin: 0 auto;
				width : 200px;
			}
			
			#sketch, #filter {
				display: none;
			}
			
			h2 {
				font-weight : 400;
			}

			#controls {
				text-align : center;
			}

			#emotion_container {
				width: 200px;
			}

			#emotion_icons {
				height: 50px;
				padding-left: 40px;
			}

			.emotion_icon {
				width : 40px;
				height : 40px;
				margin-top: 5px;
				/*margin-left : 13px;*/
				margin-left : 35px;
			}

			#icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
				visibility : hidden;
			}

			/* d3 */
			.bar {
				fill : steelblue;
				fill-opacity : .9;
			}

			.progress-bar {
			  -webkit-transition: width 1.0s ease;
			     -moz-transition: width 1.0s ease;
			       -o-transition: width 1.0s ease;
			          transition: width 1.0s ease;
			}